.popup__info-container {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
  max-width: 430px;
  width: 100%;
  padding: 36px;
  box-sizing: border-box;
  position: relative;
}

@media (max-width: 767px) {
  .popup__info-container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
