.login-register__input {
  background-color: #000;
  border: 0;
  border-bottom: 2px solid #CCC;
  width: 358px;
  padding: 0 0 11px;
  margin-top: 12px;
  box-sizing: border-box;
  color: #CCC;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.login-register__input:focus {
  outline: 0;
  outline-offset: 0;
}