.popup__text {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 29px;
  max-width: 380px;
  text-align: center;
  margin: 32px auto 24px;
}

@media (max-width: 767px) {
  .popup__text {
    max-width: 238px;
    font-size: 18px;
    margin: 0;
  }
}