.login-register__button {
  margin: 195px 0 0;
  padding: 0;
  width: 358px;
  height: 50px;
  border-radius: 2px;
  background: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  color: #000;
  border: 0;
  cursor: pointer;
  transition: opacity .3s ease .1s;
}

.login-register__button:hover {
  opacity: .8;
}